<%= form_with model: [@kid, daily_chore] do |form| %>
  <div class="input-group mb-3">
    <%= form.label :chore, class: 'input-group-text' %>
    <%= form.collection_select :chore_id, Chore.order(:name), :id, :name, { prompt: t('app.select') }, {class: 'form-select'} %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :created_at, class: 'input-group-text' %>

    <%= form.text_field :created_at,
      data: {
        controller: "flatpickr",
        flatpickr_min_date: Date.current.prev_month,
        flatpickr_max_date: Date.current.tomorrow,
        flatpickr_date_format: "Y-m-d",
        flatpickr_alt_format: "Y-m-d",
      },
      class: 'form-control' %>
  </div>

  <%= button_tag submit: true, class: 'btn btn-outline-dark' do %>
    <%= icon('fa-solid', 'save') %>
    <%= t('app.save') %>
  <% end %>
  <%= link_to root_path, class: 'btn btn-outline-secondary' do %>
    <%= icon('fa-solid', 'times') %>
    <%= t('app.cancel') %>
  <% end %>
<% end %>
