<%= form_with(model: daily_chore) do |form| %>
  <% if daily_chore.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(daily_chore.errors.count, "error") %> prohibited this daily_chore from being saved:</h2>

      <ul>
        <% daily_chore.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :chore, style: "display: block" %>
    <%= form.collection_select :chore_id, Chore.order(:name), :id, :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
