<div class="card my-2 shaddow-card">
  <div class="card-body">
    <% if title %>
      <h3 class="card-title"><%= title %></h3>
    <% end %>

    <%= form_with(model: kid) do |form| %>
      <% if kid.errors.any? %>
        <%= render 'errors', object: kid %>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, required: 'required', class: 'form-control' %>
      </div>

      <h6><%= t('app.kids_chores_form_title') %></h6>
      <div class="card mb-3">
        <div class="card-body">
          <%# <h5 class="card-title"><%= t('app.kids_chores_form_title') %1></h5> %>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= t('app.kids_chores_form_subtitle') %></h6>
          <%= form.collection_check_boxes :chore_ids, @chores, :id, :name do |b| %>
            <div>
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
      </div>

      <%= form.submit class: 'btn btn-outline-dark' %>
      <%= link_to kids_path, class: 'btn btn-outline-secondary' do %>
        <%= t('app.cancel') %>
      <% end %>
    <% end %>
  </div>
</div>
