<h1><%= @kid.name %></h1>

<div class="card">
  <div class="card-body">
    <%= turbo_frame_tag 'week' do %>
      <%= render 'chores_table', week: @week, kid: @kid %>
    <% end %>
  </div>
</div>

<div class="kid-grid mt-5">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= t('app.streak') %></h4>

      <%= @streak.to_json %>
    </div>
  </div>
</div>
