<table class="chores-table" width=100%>
  <thead>
    <tr>
      <th></th>
      <% week.each do |day| %>
        <th>
          <div><%= l(day) %></div>
          <div><%= l(day, format: :week_day).titleize %></div>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% chores.each do |chore| %>
      <tr>
        <td><%= chore.name %></td>

        <% week.each do |day| %>
          <td>
            <% daily_chore = daily_chores.for_chore(chore).for_day(day).first || DailyChore.new(chore:, created_at: day.beginning_of_day) %>

            <%= turbo_frame_tag daily_chore.turbo_frame_tag_id do %>
              <%= render 'daily_chore', chore:, day:, daily_chore: %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
