<%# Kid: <%= kid.to_json %1> %>
<%# Satisfied: <%= week.satisfied? %1> %>
<table class="chores-table" width=100%>
  <thead>
    <tr>
      <th></th>
      <% week.days.each do |day| %>
        <th>
          <%# <div><%= l(day.day) %1></div> %>
          <%# <div><%= l(day.day, format: :week_day).titleize %1></div> %>
          <div><%= l(day.day, format: :short_week_day).titleize %></div>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% week.chores.each do |chore| %>
      <tr>
        <td><%= chore.name %></td>

        <% week.days.each do |day| %>
          <td>
            <% if day.past? %>
              <span class="badge <%= day.satisfied? ? 'text-bg-success' : 'text-bg-danger' %> px-4">
                &nbsp;
                <%# <%= day.satisfied? ? '😀' : '😞' %1> %>
              </span>
            <% else %>
              <span class="px-4">
                &nbsp;
              </span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-end mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% previous_week = week.previous.begin %>
      <% next_week = week.next.begin %>

      <% unless previous_week < kid.created_at %>
        <li class="page-item">
          <%= button_to t('app.previous_week'), kid_daily_chores_path(@kid), method: :get, params: { date: (previous_week).strftime('%Y-%m-%d')  }, class: 'page-link' %>
        </li>
      <% end %>

      <% unless next_week.future? %>
        <li class="page-item <%= next_week.future? ? 'disabled' : '' %>">
          <%= button_to t('app.next_week'), kid_daily_chores_path(@kid), method: :get, params: { date: (next_week).strftime('%Y-%m-%d')  }, class: 'page-link' %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
