<h4 class="card-title"><%= t('app.week') %></h4>
<h6 class="card-subtitle mb-3">
  <%= l(@week.begin) %>
  <%= t('app.range.to') %>
  <%= l(@week.end) %>
</h6>

<table class="chores-table" width=100%>
<thead>
  <tr>
    <th></th>
    <% week.days.each do |day| %>
      <th>
        <%# <div><%= l(day.day) %1></div> %>
        <%# <div><%= l(day.day, format: :week_day).titleize %1></div> %>
        <div><%= l(day.day, format: :short_week_day).titleize %></div>
      </th>
    <% end %>
  </tr>
</thead>

<tbody>
  <% week.chores.each do |chore| %>
    <tr>
      <td class="chore-name"><%= chore.name %></td>

      <% week.days.each do |day| %>
        <td>
          <% if day.past? or (day.today? and day.satisfied?) %>
            <span class="badge <%= day.satisfied? ? 'text-bg-success' : 'text-bg-danger' %> px-4">
              &nbsp;
              <%# <%= day.satisfied? ? '😀' : '😞' %1> %>
            </span>
          <% else %>
            <span class="px-4">
              &nbsp;
            </span>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</tbody>

<tfoot>
  <tr>
    <td>&nbsp;</td>
    <% week.days.each do |day| %>
      <td>
        <%= number_to_currency(day.pay? ? 0.25 : 0) %>
      </td>
    <% end %>
  </tr>

  <% if week.fully_satisfied? %>
    <tr>
      <td colspan="7" class="text-end"><%= t('kids.chores.week_subtotal') %></td>
      <td><%= number_to_currency(week.satisfied_days.count * 0.25) %></td>
    </tr>

    <tr>
      <td colspan="7" class="text-end"><%= t('kids.chores.week_bonus') %></td>
      <td><%= number_to_currency(0.25) %></td>
    </tr>

    <tr class="week-total">
      <td colspan="7" class="text-end"><%= t('kids.chores.week_total') %></td>
      <td><%= number_to_currency(2.00) %></td>
    </tr>
  <% else %>
    <tr class="week-total">
      <td colspan="7" class="text-end"><%= t('kids.chores.week_total') %></td>
      <td><%= number_to_currency(week.days.select(&:satisfied?).count * 0.25) %></td>
    </tr>
  <% end %>
</tfoot>
</table>

<div class="d-flex justify-content-end mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% previous_week = week.previous.begin %>
      <% next_week = week.next.begin %>

      <li class="page-item  <%= previous_week < kid.created_at ? 'disabled' : '' %>"">
        <% if previous_week < kid.created_at %>
          <button type="button" class="page-link" disabled><%= t('app.previous_week') %></button>
        <% else %>
          <%= button_to t('app.previous_week'), kid_daily_chores_path(@kid), method: :get, params: { date: (previous_week).strftime('%Y-%m-%d')  }, class: 'page-link' %>
        <% end %>
      </li>

      <li class="page-item <%= next_week.future? ? 'disabled' : '' %>">
        <% if next_week.future? %>
          <button type="button" class="page-link" disabled><%= t('app.next_week') %></button>
        <% else %>
          <%= button_to t('app.next_week'), kid_daily_chores_path(@kid), method: :get, params: { date: (next_week).strftime('%Y-%m-%d')  }, class: 'page-link' %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
