<!DOCTYPE html>
<html>
  <head>
    <title>.: Chores</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:flatpickr@4.6.9/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'menu' if current_user %>
    <section id="content">
      <%= yield %>
    </section>

    <footer>
      <p>by <a href="https://github.com/rodrigovdb" target="_BLANK">@rodrigovdb</a></p>
    </footer>
  </body>
</html>
